<div class="book-item">
    <h2>{{ book.title }}</h2>
    <p><strong>Author:</strong> {{ book.author }}</p>
    <p><strong>Availability:</strong> {{ book.availability ? 'Available' : 'Not Available' }}</p>

    <button *ngIf="userRole === 'Member'" (click)="viewBook(book.id)">View</button>
    <button 
        *ngIf="userRole === 'Member'" 
        (click)="checkoutBook()" 
        [disabled]="!book.availability">Checkout
    </button>
    <button 
        *ngIf="userRole === 'Member'" 
        (click)="returnBook()" 
        [disabled]="book.availability">Return
    </button>

    <button *ngIf="userRole === 'Librarian'" (click)="editBook(book.id)">Edit</button>
    <button *ngIf="userRole === 'Librarian'" (click)="deleteBook(book.id)">Delete</button>
</div>
